.allMenu {
  text-align: center;
}
.yemekler {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 50px 100px;
}
.menu {
  font-size: 30px;
  color: #505964;
}
.taste{
    font-size: 40px;
    padding: 10px 0px 50px 0px;
}
.sec {
  width: 24%;
  border-radius: 5px;
}
